extends ../layouts/common

block content
    .title
        h1(class="float-left") List Products
        form(action="/search" method="GET" class="form-inline my-2 my-lg-0 float-right")
            input(class="form-control mr-sm-2" type="search" name="keySearch" placeholder="Search" aria-label="Search")
            button(class="btn btn-primary my-2 my-sm-0" type="submit") Search
    div.mb-4(class="clearfix")
    .container
        .row
            each product in products
                .col-sm-6.col-md-3
                    .card
                        img.card-img-top(src=product.image, alt='...')
                        .card-body.pb-10
                            h5.card-title= product.name
                            p.card-text= product.description
                            p.float-left.mt-3.price= product.price
                            a.float-right.btn.btn-primary.mt-1(href='/cart/add' + product._id) Add to Cart
    nav.float-right.mt-4(aria-label='Page navigation example')
        ul.pagination
            li.page-item
                a.page-link(href='/products?currentPage=1', action="/products"  method="GET") &laquo;
            if currentPage > 1
                li.page-item
                    if currentPage < pages
                        - var tam = currentPage;
                        - var pre = tam-1
                        a.page-link(href='/products?currentPage='+ pre, action="/products"  method="GET") &lt;   
            - var i = currentPage - (range/2 + 1) + 1;
            - var n = currentPage + (range/2 - 1);
            if i <= 1
                - var i = 1
            if n > pages
                - var n= pages
            if n < range
                - var n = range
            while i <= n
                if i==currentPage
                    li.page-item.current
                        a.page-link(href='/products?currentPage='+ i, action="/products" method="GET")=i++
                else
                    li.page-item
                        a.page-link(href='/products?currentPage='+ i, action="/products" method="GET")=i++ 
            if currentPage < pages - 1
                li.page-item
                    - var tamp = currentPage
                    - var next = tamp + 1
                    a.page-link(href='/products?currentPage='+ next, action="/products" method="GET") &gt;
            li.page-item
                a.page-link(href='/products?currentPage=' + pages, action="/products" method="GET") &raquo;